
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.label-active {
    font-size: 0.8rem;
    transform: translateY(-140%);
}

.alert-custom1 {
    padding: 20px 40px; 
    min-width: 420px; 
    position: absolute; 
    right: 40%; 
    top: 10%; 
    z-index: 1;
}

.paddingDown {
    padding-top: 15vh;
}

.bg-dark1 {
    background-color: #5b5e5f;
}

.text-red {
    color:#d33e04;
    display: inline-block;
}

.navbar-bg1 {
    background-color:#5b5e5f;
}



