.buttonCustom {
    background-color: #7408cc; 
    border: none;
    color: white;
    padding: 10px 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transform: skewX(-25deg);
    box-shadow: 6px 6px 0 black;
}

.buttonCustom1 {
    background-color: #d33e04; 
    border: none;
    color: white;
    padding: 10px 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transform: skewX(-25deg);
    box-shadow: 6px 6px 0 black;
}

.paddingDown {
    padding-top: 15vh;
}


.LoginBox {
    background-color: #4a4c4d; 
    color: white;
    text-decoration: none;
    padding: 50px 50px 50px 50px;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
}

.bg-dark1 {
    background-color: #888e91;
}

.text-red {
    color:#d33e04;
    display: inline-block;
}

