{% extends 'User/base.html' %}


{% block content %}
<!-- World News -->
<div class="container-fluid ps-5 pt-5">
    <div class="row row-cols-3">
        <div class="col">
            <div class="row row-cols-1">
                <div class="col pb-2">
                    <h1 class="ButtonCustom">World Business News</h1>
                </div>
                <div class="col">
                    <figure class="figure">
                        <a href="{{ url }}"><img src="{{ image }}" class="figure-img img-fluid rounded" width="400" height="400" alt="..."></a>
                        <a href="{{ url }}"><figcaption class="figure-caption">{{ title }}</figcaption></a>
                    </figure>
                </div>
                <div class="col">
                    <figure class="figure">
                        <a href="{{ url1 }}"><img src="{{ image1 }}" class="figure-img img-fluid rounded" width="400" height="400" alt="..."></a>
                        <a href="{{ url1 }}"><figcaption class="figure-caption">{{ title2 }}</figcaption></a>
                    </figure>
                </div>
                <div class="col">
                    <figure class="figure">
                        <a href="{{ url2 }}"><img src="{{ image2 }}" class="figure-img img-fluid rounded" width="400" height="400" alt="..."></a>
                        <a href="{{ url2 }}"><figcaption class="figure-caption">{{ title2 }}</figcaption></a>
                    </figure>
                </div>
            </div>
        </div>
        <!-- World Crypto News-->
        <div class="col">
            <div class="row row-cols-1">
                <div class="col pb-2">
                    <h1 class="buttonCustom">World Crypto News</h1>
                </div>
                <div class="col">
                    <figure class="figure">
                        <a href="{{ url5 }}"><img src="{{ image5 }}" class="figure-img img-fluid rounded" width="400" height="400" alt="..."></a>
                        <a href="{{ url5 }}"><figcaption class="figure-caption">{{ title5 }}</figcaption></a>
                    </figure>
                </div>
                <div class="col">
                    <figure class="figure">
                        <a href="{{ url6 }}"><img src="{{ image6 }}" class="figure-img img-fluid rounded" width="400" height="400" alt="..."></a>
                        <a href="{{ url6 }}"><figcaption class="figure-caption">{{ title6 }}</figcaption></a>
                    </figure>
                </div>
                <div class="col">
                    <figure class="figure">
                        <a href="{{ url7 }}"><img src="{{ image7 }}" class="figure-img img-fluid rounded" width="400" height="400" alt="..."></a>
                        <a href="{{ url7 }}"><figcaption class="figure-caption">{{ title7 }}</figcaption></a>
                    </figure>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="row row-cols-1">
                <div class="col pb-2">
                    <h1 class="buttonCustom">Most Popular Cryptocurrencies</h1>
                </div>
                <div class="col">

                    <p><img src="https://assets.coingecko.com/coins/images/1/small/bitcoin.png?1547033579">
                        <a href="https://www.coingecko.com/en/coins/bitcoin">Bitcoin price</a>
                        {{ bitcoin_prices }} {{ currency }}</p>

                    <p><img src="https://assets.coingecko.com/coins/images/279/small/ethereum.png?1595348880">
                        <a href="https://www.coingecko.com/en/coins/ethereum">Ethereum price</a>
                        {{ ethereum_prices }} {{ currency }}</p>

                    <p><img src="https://assets.coingecko.com/coins/images/2/small/litecoin.png?1547033580">
                        <a href="https://www.coingecko.com/en/coins/litecoin">Litecoin price</a>
                        {{ litecoin_prices }} {{ currency }}</p>

                    <p><img src="https://assets.coingecko.com/coins/images/5/small/dogecoin.png?1547792256">
                        <a href="https://www.coingecko.com/en/coins/dogecoin">Dogechain price</a>
                        {{ dogechain_prices }} {{ currency }}</p>

                    <p><img src="https://assets.coingecko.com/coins/images/18323/small/arbit.png?1631532468">
                        <a href="https://www.coingecko.com/en/coins/gmx">GMX price</a>
                        {{ gmx_prices }} {{ currency }}</p>

                    <p><img src="https://assets.coingecko.com/coins/images/25244/small/Optimism.png?1660904599">
                        <a href="https://www.coingecko.com/en/coins/optimism">Optimism price</a>
                        {{ optimism_prices }} {{ currency }}</p>

                    <p><img src="https://assets.coingecko.com/coins/images/16646/small/Logo_final-22.png?1628239446">
                        <a href="https://www.coingecko.com/en/coins/ecash">eCash price</a>
                        {{ ecash_prices }} {{ currency }}</p>

                    <p><img src="https://assets.coingecko.com/coins/images/24023/small/evmos.png?1653958927">
                        <a href="https://www.coingecko.com/en/coins/evmos">Evmos price </a>
                        {{ evmos_prices }} {{ currency }}</p>

                    <p><img src="https://assets.coingecko.com/coins/images/325/small/Tether-logo.png?1598003707">
                        <a href="https://www.coingecko.com/en/coins/tether">Tether price</a>
                        {{ tether_prices }} {{ currency }}</p>

                    <p><img src="https://assets.coingecko.com/coins/images/6319/small/USD_Coin_icon.png?1547042389">
                        <a href="https://www.coingecko.com/en/coins/usd-coin">USD Coin price</a>
                        {{ usdcoin_prices }} {{ currency }}</p>

                    <p><img src="https://assets.coingecko.com/coins/images/825/small/bnb-icon2_2x.png?1644979850">
                        <a href="https://www.coingecko.com/en/coins/bnb">BNB price</a>
                        {{ binancecoin_prices }} {{ currency }}</p>

                    <p><img src="https://assets.coingecko.com/coins/images/4713/small/matic-token-icon.png?1624446912">
                        <a href="https://www.coingecko.com/en/coins/polygon">Polygon price</a>
                        {{ maticnetwork_prices }} {{ currency }}</p>

                    <p><img src="https://assets.coingecko.com/coins/images/1094/small/tron-logo.png?1547035066">
                        <a href="https://www.coingecko.com/en/coins/tron">Tron price</a>
                        {{ tron_prices }} {{ currency }}</p>
                    <p>Prices refreshed at: {{ refresh_time }}</p>

                </div>
                <div class="col">
                    <h1 class="buttonCustom">Most Traded Cryptocurrencies</h1>
                    <p><img src="{{ top7thumb1 }}" alt="alternatetext"> {{ top7names1 }}</p>
                    <p><img src="{{ top7thumb2 }}" alt="alternatetext"> {{ top7names2 }}</p>
                    <p><img src="{{ top7thumb3 }}" alt="alternatetext"> {{ top7names3 }}</p>
                    <p><img src="{{ top7thumb4 }}" alt="alternatetext"> {{ top7names4 }}</p>
                    <p><img src="{{ top7thumb5 }}" alt="alternatetext"> {{ top7names5 }}</p>
                    <p><img src="{{ top7thumb6 }}" alt="alternatetext"> {{ top7names6 }}</p>
                    <p><img src="{{ top7thumb7 }}" alt="alternatetext"> {{ top7names7 }}</p>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

