{% extends 'User/base.html' %}


{% block content %}

<div class="d-flex flex-row flex-lg-row flex-wrap justify-content-center align-items-start">
    <div class="col ps-xl-5 pt-5">

        <h3 class="ps-5">World Business News</h3>

        <div class="p-3">
            <div class="card" style="max-width: 35rem; min-width: 20rem; height: 20rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="{{ image }}" class="img-fluid"/>
                <a href="{{url}}">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
                </div>
                <div class="card-body">
                <h5 class="card-title">{{ title}}</h5>
                </div>
            </div>
        </div>


        <div class="p-3">
            <div class="card" style="max-width: 35rem; min-width: 20rem; height: 20rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="{{ image1 }}" class="img-fluid"/>
                <a href="{{url1}}">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
                </div>
                <div class="card-body">
                <h5 class="card-title">{{ title1 }}</h5>
                </div>
            </div>
        </div>

        <div class="p-3">
            <div class="card" style="max-width: 35rem; min-width: 20rem; height: 20rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="{{ image2 }}" class="img-fluid"/>
                <a href="{{url2}}">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
                </div>
                <div class="card-body">
                <h5 class="card-title">{{ title2}}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="col pt-5">

        <h3 class="ps-5">Cryptocurrency News</h3>

        <div class="p-3">
            <div class="card" style="max-width: 35rem; min-width: 20rem; height: 20rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="{{ image5 }}" class="img-fluid"/>
                <a href="{{url5}}">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
                </div>
                <div class="card-body">
                <h5 class="card-title">{{ title5 }}</h5>
                </div>
            </div>
        </div>


        <div class="p-3">
            <div class="card" style="max-width: 35rem; min-width: 20rem; height: 20rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="{{ image6 }}" class="img-fluid"/>
                <a href="{{url6}}">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
                </div>
                <div class="card-body">
                <h5 class="card-title">{{ title6 }}</h5>
                </div>
            </div>
        </div>


        <div class="p-3">
            <div class="card" style="max-width: 35rem; min-width: 20rem; height: 20rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="{{ image7 }}" class="img-fluid"/>
                <a href="{{url7}}">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
                </div>
                <div class="card-body">
                <h5 class="card-title">{{ title7 }}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="col pt-5 pe-5">

        <h3 class="ps-5 pb-2">Cryptocurrencies</h3>
        
        <table class="table">
            <thead class="table-dark">

            </thead>
            <tbody>
                <tr>
                    <td><img src="https://assets.coingecko.com/coins/images/1/small/bitcoin.png?1547033579" width="25" height="25">
                        <a href="https://www.coingecko.com/en/coins/bitcoin">Bitcoin price</a></td>
                    <td>{{ bitcoin_prices.eur }} <small>EUR</small></td>
                    <td>{{ bitcoin_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                </tr>
                <tr>
                    <td><img src="https://assets.coingecko.com/coins/images/279/small/ethereum.png?1595348880" width="25" height="25">
                        <a href="https://www.coingecko.com/en/coins/bitcoin">Ethereum price</a></td>
                    <td>{{ ethereum_prices.eur }} <small>EUR</small></td>
                    <td>{{ ethereum_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                </tr>
                <tr>
                    <td><img src="https://assets.coingecko.com/coins/images/2/small/litecoin.png?1547033580" width="25" height="25">
                        <a href="https://www.coingecko.com/en/coins/bitcoin">Litecoin price</a></td>
                    <td>{{ litecoin_prices.eur  }} <small>EUR</small></td>
                    <td>{{ litecoin_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                </tr>
                <tr>
                    <td><img src="https://assets.coingecko.com/coins/images/5/small/dogecoin.png?1547792256" width="25" height="25">
                        <a href="https://www.coingecko.com/en/coins/bitcoin">Dogechain price</a></td>
                    <td>{{ dogechain_prices.eur  }} <small>EUR</small></td>
                    <td>{{ dogechain_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                </tr>
                <tr>
                    <td><img src="https://assets.coingecko.com/coins/images/18323/small/arbit.png?1631532468" width="25" height="25">
                        <a href="https://www.coingecko.com/en/coins/bitcoin">GMX price</a></td>
                    <td>{{ gmx_prices.eur }} <small>EUR</small></td>
                    <td>{{ gmx_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                </tr>
                <tr>
                    <td><img src="https://assets.coingecko.com/coins/images/25244/small/Optimism.png?1660904599" width="25" height="25">
                        <a href="https://www.coingecko.com/en/coins/bitcoin">Optimism price</a></td>
                    <td>{{ optimism_prices.eur }} <small>EUR</small></td>
                    <td>{{ optimism_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                </tr>
                <tr>
                    <td><img src="https://assets.coingecko.com/coins/images/16646/small/Logo_final-22.png?1628239446" width="25" height="25">
                        <a href="https://www.coingecko.com/en/coins/bitcoin">eCash price</a></td>
                    <td>{{ ecash_prices.eur }} <small>EUR</small></td>
                    <td>{{ ecash_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                </tr>
                <tr>
                    <td><img src="https://assets.coingecko.com/coins/images/24023/small/evmos.png?1653958927" width="25" height="25">
                        <a href="https://www.coingecko.com/en/coins/bitcoin">Evmos price</a></td>
                    <td>{{ evmos_prices.eur }} <small>EUR</small></td>
                    <td>{{ evmos_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                </tr>
                <tr>
                    <td><img src="https://assets.coingecko.com/coins/images/325/small/Tether-logo.png?1598003707" width="25" height="25">
                        <a href="https://www.coingecko.com/en/coins/bitcoin">Tether price</a></td>
                    <td>{{ tether_prices.eur }} <small>EUR</small></td>
                    <td>{{ tether_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                </tr>
                <tr>
                    <td><img src="https://assets.coingecko.com/coins/images/6319/small/USD_Coin_icon.png?1547042389" width="25" height="25">
                        <a href="https://www.coingecko.com/en/coins/bitcoin">USD Coin price</a></td>
                    <td>{{ usdcoin_prices.eur }} <small>EUR</small></td>
                    <td>{{ usdcoin_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                </tr>
                <tr>
                    <td><img src="https://assets.coingecko.com/coins/images/825/small/bnb-icon2_2x.png?1644979850" width="25" height="25">
                        <a href="https://www.coingecko.com/en/coins/bitcoin">BNB price</a></td>
                    <td>{{ binancecoin_prices.eur }} <small>EUR</small></td>
                    <td>{{ binancecoin_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                </tr>
            </tbody>
        </table>

        <div>
            <h3 class="ps-5 pb-2">Most Searched Cryptocurrencies</h3>
            <div class="ps-4">
                <p><img src="{{ top7thumb1 }}" alt="alternatetext"> {{ top7names1 }}</p>
                <p><img src="{{ top7thumb2 }}" alt="alternatetext"> {{ top7names2 }}</p>
                <p><img src="{{ top7thumb3 }}" alt="alternatetext"> {{ top7names3 }}</p>
                <p><img src="{{ top7thumb4 }}" alt="alternatetext"> {{ top7names4 }}</p>
                <p><img src="{{ top7thumb5 }}" alt="alternatetext"> {{ top7names5 }}</p>
                <p><img src="{{ top7thumb6 }}" alt="alternatetext"> {{ top7names6 }}</p>
                <p><img src="{{ top7thumb7 }}" alt="alternatetext"> {{ top7names7 }}</p>
            </div>
        </div>



    </div>
  </div>

 

 









{% endblock %}


<!-- World News -->
<div class="d-flex flex-wrap-reverse ps-5 pt-5">
    <div class="row row-cols-3">
        <div class="g-col-6 g-col-md-4">
            <div class="row row-cols-1">
                <div class="col pb-2">
                    <h1 class="">World Business News</h1>
                </div>

                    <!-- NEWS ARTICLES -->
                <div class="col">
                    <div class="p-3">
                        <div class="card" style="width: 20rem; height: 20rem;">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="{{ image }}" class="img-fluid"/>
                            <a href="{{url}}">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                            </div>
                            <div class="card-body">
                            <h5 class="card-title">{{ title}}</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="p-3">
                        <div class="card" style="width: 20rem; height: 20rem;">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="{{ image1 }}" class="img-fluid"/>
                            <a href="{{url1}}">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                            </div>
                            <div class="card-body">
                            <h5 class="card-title">{{ title1 }}</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="p-3">
                        <div class="card" style="width: 20rem; height: 20rem;">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="{{ image2 }}" class="img-fluid"/>
                            <a href="{{url2}}">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                            </div>
                            <div class="card-body">
                            <h5 class="card-title">{{ title2 }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- World Crypto News -->
        <div class="g-col-6 g-col-md-4">
            <div class="row row-cols-1">
                <div class="col pb-2">
                    <h1 class="">World Crypto News</h1>
                </div>

                <div class="col">
                    <div class="p-3">
                        <div class="card" style="width: 20rem; height: 20rem;">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="{{ image5 }}" class="img-fluid"/>
                            <a href="{{url5}}">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                            </div>
                            <div class="card-body">
                            <h5 class="card-title">{{ title5 }}</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="p-3">
                        <div class="card" style="width: 20rem; height: 20rem;">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="{{ image6 }}" class="img-fluid"/>
                            <a href="{{url6}}">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                            </div>
                            <div class="card-body">
                            <h5 class="card-title">{{ title6 }}</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="p-3">
                        <div class="card" style="width: 20rem; height: 20rem;">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="{{ image7 }}" class="img-fluid"/>
                            <a href="{{url7}}">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                            </div>
                            <div class="card-body">
                            <h5 class="card-title">{{ title7 }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="g-col-6 g-col-md-4">
            <div class="row row-cols-1">
                <div class="col pb-2">
                    <h1 class="">Cryptocurrencies</h1>
                </div>
                <div class="col">
                    <table class="table">
                        <thead class="table-dark">

                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="https://assets.coingecko.com/coins/images/1/small/bitcoin.png?1547033579" width="25" height="25">
                                    <a href="https://www.coingecko.com/en/coins/bitcoin">Bitcoin price</a></td>
                                <td>{{ bitcoin_prices.eur }} <small>EUR</small></td>
                            </tr>
                            <tr>
                                <td><img src="https://assets.coingecko.com/coins/images/279/small/ethereum.png?1595348880" width="25" height="25">
                                    <a href="https://www.coingecko.com/en/coins/bitcoin">Ethereum price</a></td>
                                <td>{{ ethereum_prices.eur }} <small>EUR</small></td>
                            </tr>
                            <tr>
                                <td><img src="https://assets.coingecko.com/coins/images/2/small/litecoin.png?1547033580" width="25" height="25">
                                    <a href="https://www.coingecko.com/en/coins/bitcoin">Litecoin price</a></td>
                                <td>{{ litecoin_prices.eur  }} <small>EUR</small></td>
                            </tr>
                            <tr>
                                <td><img src="https://assets.coingecko.com/coins/images/5/small/dogecoin.png?1547792256" width="25" height="25">
                                    <a href="https://www.coingecko.com/en/coins/bitcoin">Dogechain price</a></td>
                                <td>{{ dogechain_prices.eur  }} <small>EUR</small></td>
                            </tr>
                            <tr>
                                <td><img src="https://assets.coingecko.com/coins/images/18323/small/arbit.png?1631532468" width="25" height="25">
                                    <a href="https://www.coingecko.com/en/coins/bitcoin">GMX price</a></td>
                                <td>{{ gmx_prices.eur }} <small>EUR</small></td>
                            </tr>
                            <tr>
                                <td><img src="https://assets.coingecko.com/coins/images/25244/small/Optimism.png?1660904599" width="25" height="25">
                                    <a href="https://www.coingecko.com/en/coins/bitcoin">Optimism price</a></td>
                                <td>{{ optimism_prices.eur }} <small>EUR</small></td>
                            </tr>
                            <tr>
                                <td><img src="https://assets.coingecko.com/coins/images/16646/small/Logo_final-22.png?1628239446" width="25" height="25">
                                    <a href="https://www.coingecko.com/en/coins/bitcoin">eCash price</a></td>
                                <td>{{ ecash_prices.eur }} <small>EUR</small></td>
                            </tr>
                            <tr>
                                <td><img src="https://assets.coingecko.com/coins/images/24023/small/evmos.png?1653958927" width="25" height="25">
                                    <a href="https://www.coingecko.com/en/coins/bitcoin">Evmos price</a></td>
                                <td>{{ evmos_prices.eur }} <small>EUR</small></td>
                            </tr>
                            <tr>
                                <td><img src="https://assets.coingecko.com/coins/images/325/small/Tether-logo.png?1598003707" width="25" height="25">
                                    <a href="https://www.coingecko.com/en/coins/bitcoin">Tether price</a></td>
                                <td>{{ tether_prices.eur }} <small>EUR</small></td>
                            </tr>
                            <tr>
                                <td><img src="https://assets.coingecko.com/coins/images/6319/small/USD_Coin_icon.png?1547042389" width="25" height="25">
                                    <a href="https://www.coingecko.com/en/coins/bitcoin">USD Coin price</a></td>
                                <td>{{ usdcoin_prices.eur }} <small>EUR</small></td>
                            </tr>
                            <tr>
                                <td><img src="https://assets.coingecko.com/coins/images/825/small/bnb-icon2_2x.png?1644979850" width="25" height="25">
                                    <a href="https://www.coingecko.com/en/coins/bitcoin">BNB price</a></td>
                                <td>{{ binancecoin_prices.eur }} <small>EUR</small></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <h1 class="">Most Searched Cryptocurrencies</h1>
                    <p><img src="{{ top7thumb1 }}" alt="alternatetext"> {{ top7names1 }}</p>
                    <p><img src="{{ top7thumb2 }}" alt="alternatetext"> {{ top7names2 }}</p>
                    <p><img src="{{ top7thumb3 }}" alt="alternatetext"> {{ top7names3 }}</p>
                    <p><img src="{{ top7thumb4 }}" alt="alternatetext"> {{ top7names4 }}</p>
                    <p><img src="{{ top7thumb5 }}" alt="alternatetext"> {{ top7names5 }}</p>
                    <p><img src="{{ top7thumb6 }}" alt="alternatetext"> {{ top7names6 }}</p>
                    <p><img src="{{ top7thumb7 }}" alt="alternatetext"> {{ top7names7 }}</p>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </div>
</div>
