{% extends 'User/base.html' %}


{% block content %}

<div class="d-flex flex-row flex-lg-row flex-wrap justify-content-center align-items-start">
    <div class="col ps-xl-5 pt-5">
        <h3 class="ps-3">World Business News</h3>
        <div class="p-3">
            <div class="card" style="max-width: 35rem; min-width: 20rem; height: 20rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="{{ image }}" class="img-fluid"/>
                    <a href="{{ url }}" target=”_blank”>
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ title }}</h5>
                </div>
            </div>
        </div>

        <div class="p-3">
            <div class="card" style="max-width: 35rem; min-width: 20rem; height: 20rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="{{ image1 }}" class="img-fluid"/>
                    <a href="{{ url1 }}" target=”_blank”>
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                        <h5 class="card-title">{{ title1 }}</h5>
                </div>
            </div>
        </div>

        <div class="p-3">
            <div class="card" style="max-width: 35rem; min-width: 20rem; height: 20rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="{{ image2 }}" class="img-fluid"/>
                    <a href="{{ url2 }}" target=”_blank”>
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ title2 }}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="col pt-5">
        <h3 class="ps-3">Cryptocurrency News</h3>

        <div class="p-3">
            <div class="card" style="max-width: 35rem; min-width: 20rem; height: 20rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="{{ image5 }}" class="img-fluid"/>
                    <a href="{{ url5 }}" target=”_blank”>
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ title5 }}</h5>
                </div>
            </div>
        </div>


        <div class="p-3">
            <div class="card" style="max-width: 35rem; min-width: 20rem; height: 20rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="{{ image6 }}" class="img-fluid"/>
                <a href="{{ url6 }}" target=”_blank”>
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
                </div>
                <div class="card-body">
                <h5 class="card-title">{{ title6 }}</h5>
                </div>
            </div>
        </div>


        <div class="p-3">
            <div class="card" style="max-width: 35rem; min-width: 20rem; height: 20rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="{{ image7 }}" class="img-fluid"/>
                <a href="{{ url7 }}" target=”_blank”>
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
                </div>
                <div class="card-body">
                <h5 class="card-title">{{ title7 }}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="col pt-5 pe-5">

        <h3 class="pb-2">Cryptocurrencies</h3>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <td>Name</td>
                    <td>Price</td>
                    <td>24 Hour Change</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="https://assets.coingecko.com/coins/images/1/small/bitcoin.png?1547033579" width="25" height="25">
                        <a href="https://www.coingecko.com/en/coins/bitcoin" target=”_blank”>Bitcoin price</a></td>
                    <td>{{ bitcoin_prices.eur }} <small>EUR</small></td>
                    {% if bitcoin_prices.eur_24h_change > 0 %}
                    <td class=" text-success">{{ bitcoin_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                    {% else %}
                    <td class="text-danger">{{ bitcoin_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                    {% endif %}
                </tr>
                <tr>
                    <td><img src="https://assets.coingecko.com/coins/images/279/small/ethereum.png?1595348880" width="25" height="25">
                        <a href="https://www.coingecko.com/en/coins/ethereum" target=”_blank”>Ethereum price</a></td>
                    <td>{{ ethereum_prices.eur }} <small>EUR</small></td>
                    {% if ethereum_prices.eur_24h_change > 0 %}
                    <td class=" text-success">{{ ethereum_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                    {% else %}
                    <td class="text-danger">{{ ethereum_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                    {% endif %}
                </tr>
                <tr>
                    <td><img src="https://assets.coingecko.com/coins/images/2/small/litecoin.png?1547033580" width="25" height="25">
                        <a href="https://www.coingecko.com/en/coins/litecoin" target=”_blank”>Litecoin price</a></td>
                    <td>{{ litecoin_prices.eur  }} <small>EUR</small></td>
                    {% if litecoin_prices.eur_24h_change > 0 %}
                    <td class=" text-success">{{ litecoin_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                    {% else %}
                    <td class="text-danger">{{ litecoin_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                    {% endif %}
                </tr>
                <tr>
                    <td><img src="https://assets.coingecko.com/coins/images/975/small/cardano.png?1547034860" width="25" height="25">
                        <a href="https://www.coingecko.com/en/coins/cardano" target=”_blank”>Cardano</a></td>
                    <td>{{ cardano_prices.eur  }} <small>EUR</small></td>
                    {% if cardano_prices.eur_24h_change > 0 %}
                    <td class=" text-success">{{ cardano_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                    {% else %}
                    <td class="text-danger">{{ cardano_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                    {% endif %}
                </tr>
                <tr>
                    <td><img src="https://assets.coingecko.com/coins/images/11939/small/shiba.png?1622619446" width="25" height="25">
                        <a href="https://www.coingecko.com/en/coins/shiba-inu" target=”_blank”>Shiba Inu price</a></td>
                    <td>{{ shiba_inu.eur }} <small>EUR</small></td>
                    {% if shiba_inu.eur_24h_change > 0 %}
                    <td class=" text-success">{{ shiba_inu.eur_24h_change|floatformat:2}} <small>%</small></td>
                    {% else %}
                    <td class="text-danger">{{ shiba_inu.eur_24h_change|floatformat:2}} <small>%</small></td>
                    {% endif %}
                </tr>
                <tr>
                    <td><img src="https://assets.coingecko.com/coins/images/25244/small/Optimism.png?1660904599" width="25" height="25">
                        <a href="https://www.coingecko.com/en/coins/optimism" target=”_blank”>Optimism price</a></td>
                    <td>{{ optimism_prices.eur }} <small>EUR</small></td>
                    {% if optimism_prices.eur_24h_change > 0 %}
                    <td class=" text-success">{{ optimism_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                    {% else %}
                    <td class="text-danger">{{ optimism_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                    {% endif %}
                </tr>
                <tr>
                    <td><img src="https://assets.coingecko.com/coins/images/16646/small/Logo_final-22.png?1628239446" width="25" height="25">
                        <a href="https://www.coingecko.com/en/coins/ecash" target=”_blank”>eCash price</a></td>
                    <td>{{ ecash_prices.eur }} <small>EUR</small></td>
                    {% if ecash_prices.eur_24h_change > 0 %}
                    <td class=" text-success">{{ ecash_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                    {% else %}
                    <td class="text-danger">{{ ecash_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                    {% endif %}
                </tr>
                <tr>
                    <td><img src="https://assets.coingecko.com/coins/images/24023/small/evmos.png?1653958927" width="25" height="25">
                        <a href="https://www.coingecko.com/en/coins/evmos" target=”_blank”>Evmos price</a></td>
                    <td>{{ evmos_prices.eur }} <small>EUR</small></td>
                    {% if evmos_prices.eur_24h_change > 0 %}
                    <td class=" text-success">{{ evmos_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                    {% else %}
                    <td class="text-danger">{{ evmos_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                    {% endif %}
                </tr>
                <tr>
                    <td><img src="https://assets.coingecko.com/coins/images/325/small/Tether-logo.png?1598003707" width="25" height="25">
                        <a href="https://www.coingecko.com/en/coins/tether" target=”_blank”>Tether price</a></td>
                    <td>{{ tether_prices.eur }} <small>EUR</small></td>
                    {% if tether_prices.eur_24h_change > 0 %}
                    <td class=" text-success">{{ tether_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                    {% else %}
                    <td class="text-danger">{{ tether_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                    {% endif %}
                </tr>
                <tr>
                    <td><img src="https://assets.coingecko.com/coins/images/6319/small/USD_Coin_icon.png?1547042389" width="25" height="25">
                        <a href="https://www.coingecko.com/en/coins/usd-coin" target=”_blank”>USD Coin price</a></td>
                    <td>{{ usdcoin_prices.eur }} <small>EUR</small></td>
                    {% if usdcoin_prices.eur_24h_change > 0 %}
                    <td class=" text-success">{{ usdcoin_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                    {% else %}
                    <td class="text-danger">{{ usdcoin_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                    {% endif %}
                </tr>
                <tr>
                    <td><img src="https://assets.coingecko.com/coins/images/825/small/bnb-icon2_2x.png?1644979850" width="25" height="25">
                        <a href="https://www.coingecko.com/en/coins/bnb" target=”_blank”>BNB price</a></td>
                    <td>{{ binancecoin_prices.eur }} <small>EUR</small></td>
                    {% if binancecoin_prices.eur_24h_change > 0 %}
                    <td class=" text-success">{{ binancecoin_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                    {% else %}
                    <td class="text-danger">{{ binancecoin_prices.eur_24h_change|floatformat:2}} <small>%</small></td>
                    {% endif %}
                </tr>
            </tbody>
            <tfoot class="table-dark">
                <tr>
                    <td colspan="3" class="text-end text-white">Last Update - {{last_updated}}</td>
                </tr>
            </tfoot>
        </table>

        <div>
            <h3 class="pb-2">Most Searched Cryptocurrencies</h3>
            <div class="ps-4">
                <a href="https://www.coingecko.com/en/coins/{{ trending_id.0 }}" target=”_blank”><p><img src="{{ trending_icon.0 }}" alt="{{ trending_name.0 }}"> {{ trending_name.0 }}</p></a>
                <a href="https://www.coingecko.com/en/coins/{{ trending_id.1 }}" target=”_blank”><p><img src="{{ trending_icon.1 }}" alt="{{ trending_name.1 }}"> {{ trending_name.1 }}</p></a>
                <a href="https://www.coingecko.com/en/coins/{{ trending_id.2 }}" target=”_blank”><p><img src="{{ trending_icon.2 }}" alt="{{ trending_name.2 }}"> {{ trending_name.2 }}</p></a>
                <a href="https://www.coingecko.com/en/coins/{{ trending_id.3 }}" target=”_blank”><p><img src="{{ trending_icon.3 }}" alt="{{ trending_name.3 }}"> {{ trending_name.3 }}</p></a>
                <a href="https://www.coingecko.com/en/coins/{{ trending_id.4 }}" target=”_blank”><p><img src="{{ trending_icon.4 }}" alt="{{ trending_name.4 }}"> {{ trending_name.4 }}</p></a>
                <a href="https://www.coingecko.com/en/coins/{{ trending_id.5 }}" target=”_blank”><p><img src="{{ trending_icon.5 }}" alt="{{ trending_name.5 }}"> {{ trending_name.5 }}</p></a>
                <a href="https://www.coingecko.com/en/coins/{{ trending_id.6 }}" target=”_blank”><p><img src="{{ trending_icon.6 }}" alt="{{ trending_name.6 }}"> {{ trending_name.6 }}</p></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}