
{% load static %}


{% for message in messages %}
    <div class="alert {{message.tags}} alert-dismissible" id="myAlert" style="padding: 20px 40px; min-width: 420px; position: absolute; right: 40%; top: 10%;">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <strong>{{message}}</strong>
    </div>
  
  <script>
  $(document).ready(function(){
    $(".close").click(function(){
      $("#myAlert").alert("close");
    });
  });
  setTimeout(function () {
  
    // Closing the alert
    $('.alert').alert('close');
}, 4000);
  </script>


{% endfor %}
