{% extends 'User/base.html' %}
{% block content %}

    <div class="d-flex justify-content-center paddingDown">
        <form class="LoginBox" method="POST">{% csrf_token %}
            <!--Email Address -->
            <div class="input-group mb-3">
                <span for="exampleInputEmail1" class="input-group-text" id="basic-addon1">Email</span>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-label="email" aria-describedby="emailHelp">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Your name</span>
                <input type="text" name="full_name" aria-label="Full name" class="form-control">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Birth date</span>
                <input type="date" name="date_of_birth" aria-label="date of birth" class="form-control">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Your Address</span>
                <input type="text" name="address" aria-label="address" class="form-control">
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Country</label>
                <select name="country" class="form-select" id="inputGroupSelect01">
                  <option value="LT">Lithuania</option>
                  <option value="LV">Latvia</option>
                  <option value="EE">Estonia</option>
                </select>
            </div>


            <div class="input-group mb-3">
                <span for="exampleInputPassword" class="input-group-text" id="basic-addon1">Password</span>
                <input type="password" name="password1" class="form-control" id="exampleInputPassword1" label='Password'>
            </div>

            
            <div class="input-group mb-3">
                <span for="exampleInputPassword" class="input-group-text" id="basic-addon1">Repeat Password</span>
                <input type="password" name="password2" class="form-control" id="exampleInputPassword1" label='Password confirmation'>
            </div>



    
            {% for field in registration_form %}
            <p class="">
                {% for error in field.errors %}
                <p>{{error}}</p>
                {% endfor %}
            </p>
            {%endfor%}
    
            {% if registration_form.non_field_errors %}
                <div class="bg-danger" style="color: red">
                    <p>{{registration_form.non_field_errors}}</p>
                </div>
            {% endif %}
    
    
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>





<!-- 

        <div class="">
            <form method="POST" class="form-group">
                {% csrf_token %}
                {% for field in registration_form %}
                <p class="border border-3">
                    {{field.label_tag}}
                    {{field}}

                    {% if field.help_text %}
                    <small>{{field.help_text}}</small>
                    {% endif %}

                    {% for error in field.errors %}
                    <p>{{error}}</p>
                    {% endfor %}
                </p>
                {%endfor%}

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </form>
        </div> -->

{% endblock %}
